<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<h1>Rules:</h1>
<h1><img src="static/images/rock.png" alt="Rock" style="max-width: 50px;">beats
<img src="static/images/scissor.png" alt="Scissor" style="max-width: 50px;"><br>
<img src="static/images/scissor.png" alt="Scissor" style="max-width: 50px;">beats
<img src="static/images/paper.png" alt="Paper" style="max-width: 50px;"><br>
<img src="static/images/paper.png" alt="Paper" style="max-width: 50px;">beats
<img src="static/images/rock.png" alt="Rock" style="max-width: 50px;"><br></h1>
<a class="btn btn-primary" href="{{ url_for('start') }}" role="button">Start</a>
</body>
</html>