<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body>
    <h3>Select your choice:</h3>
    <form method="POST">
        <button type="submit" name="rock" id="rock-button">
            <img src="static/images/rock.png" alt="Rock" style="max-width: 150px;">
        </button>

        <button type="submit" name="paper" id="paper-button">
            <img src="static/images/paper.png" alt="Paper" style="max-width: 150px;">
        </button>

        <button type="submit" name="scissor" id="scissor-button">
            <img src="static/images/scissor.png" alt="Scissor" style="max-width: 150px;">
        </button>
    </form>
</body>
</html>
